@model IEnumerable<ElmaSecondTry.Models.MyAnnouncement>

<html>
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#announcementstable").tablesorter({ cssAsc: "headerSortUp", cssDesc: "headerSortDown", cssHeader: "header" })
        }
        );
    </script>
</head>
<body>
    <div class="modal-body">
        @if (Model != null && Model.Count() > 0)
        {
            <h4>Список объявлений</h4>
            <table class="table" id="announcementstable">
                <thead>
                    <tr>
                        <th rowspan="2" style="text-align:center"> Тип </th>
                        <th rowspan="2" style="text-align:center"> Дата создания </th>
                        <th rowspan="2" style="text-align:center"> Владелец </th>
                        <th colspan="2" style="text-align:center"> Объявление Кандидат </th>
                        <th colspan="2" style="text-align:center"> Объявление Вакансия </th>
                        <th rowspan="2" style="text-align:center"> Действия </th>
                    </tr>
                    <tr>
                        <th style="text-align:center"> Фамилия И.О. </th>
                        <th style="text-align:center"> Профессия </th>
                        <th style="text-align:center"> Должность </th>
                        <th style="text-align:center"> З.плата </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Type)</td>
                        <td>@item.CreationDate.ToString("dd.MM.yyyy HH:mm")</td>
                        <td>@item.OwnerLogin</td>
                        @if (item is ElmaSecondTry.Models.CandidateModel.MyCandidate)
                        {
                            var candidateItem = (ElmaSecondTry.Models.CandidateModel.MyCandidate)item;
                            <td>@candidateItem.FirstName</td>
                            <td>@candidateItem.Profession</td>
                            <td>---нет---</td>
                            <td>---нет---</td>
                        }
                        @if (item is ElmaSecondTry.Models.VacancyModel.MyVacancy)
                        {
                            var vacancyItem = (ElmaSecondTry.Models.VacancyModel.MyVacancy)item;
                            <td>---нет---</td>
                            <td>---нет---</td>
                            <td>@vacancyItem.Name</td>
                            <td>@vacancyItem.Salary</td>
                        }
                        <td>
                            <a href="@Url.Action("ShowAnnouncement", "Announcement", new { id = item.Id })" style="margin-left:5px">
                                <img src="~/Images/black-strong/Details.png" width="20" title="Посмотреть данные объявления @item.Type @item.OwnerLogin от @item.CreationDate" />
                            </a>
                            @if (User.Identity.Name == item.OwnerLogin || User.IsInRole("Admin"))
                            {
                                <a href="@Url.Action($"Edit{item.Type.ToString()}", item.Type.ToString(), new { id = item.Id })" style="margin-left:5px">
                                    <img src="~/Images/black-strong/Edit.png" width="20" title="Редактировать данные объявления @item.Type @item.OwnerLogin от @item.CreationDate" />
                                </a>
                                <a href='@Url.Action("DeleteAnnouncement", "Announcement", new { id = item.Id, login = item.OwnerLogin })' style="margin-left:5px" onclick="return confirm('Вы уверены что желаете удалить объявление @item.Type от @item.CreationDate пользователя @item.OwnerLogin')">
                                    <img src="~/Images/black-strong/Delete.png" width="20" title="Удальть объявление @item.Type @item.OwnerLogin от @item.CreationDate" />
                                </a>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                if (!item.IsBlocked)
                                {
                                    <a href='@Url.Action("BlockAnnouncement", "Announcement", new { id = item.Id, block = true })' style="margin-left:5px" onclick="return confirm('Вы уверены что желаете заблокировать объявление @item.Type от @item.CreationDate пользователя @item.OwnerLogin ?')">
                                        <img src="~/Images/black-strong/Cancel.png" width="20" title="Заблокировать объявление @item.Type @item.OwnerLogin от @item.CreationDate" />
                                    </a>
                                }
                                else
                                {
                                    <a href='@Url.Action("BlockAnnouncement", "Announcement", new { id = item.Id, block = false })' style="margin-left:5px" onclick="return confirm('Вы уверены что желаете разблокировать объявление @item.Type от @item.CreationDate пользователя @item.OwnerLogin ?')">
                                        <img src="~/Images/black-strong/Ok.png" width="20" title="Разблокировать объявление @item.Type @item.OwnerLogin от @item.CreationDate" />
                                    </a>
                                }
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h4>К сожалению, искомые объявления не найдены</h4>
        }
    </div>
</body>

</html>


@if (TempData.Count > 0)
{
    <script>ShowMessage('/Home/ClientMessage?status=@TempData["status"]&message=@TempData["message"]');</script>
}


