@model ElmaSecondTry.Models.IMyAnnouncement

<h2>Информация объявления @ViewBag.TypeOfAnnouncement</h2>

<div>
    <hr />
    @if (Model.IsBlocked)
    {
        <h4 style="color:red"> <strong>Данное объявление заблокировано администратором</strong> </h4>
    }
    <div class="form-horizontal">
        <div class="form-group">
            <div class="control-label col-md-9" style="text-align : left; vertical-align:central">
                <dl class="dl-horizontal">

                    @if (Model is ElmaSecondTry.Models.CandidateModel.MyCandidate)
                    {
                        @Html.Partial("~/Views/Candidate/ShowCandidatePartial.cshtml", Model as ElmaSecondTry.Models.CandidateModel.MyCandidate)
                    }
                    @if (Model is ElmaSecondTry.Models.VacancyModel.MyVacancy)
                    {
                        @Html.Partial("~/Views/Vacancy/ShowVacancyPartial.cshtml", Model as ElmaSecondTry.Models.VacancyModel.MyVacancy)
                    }

                </dl>
            </div>
            @if (User.Identity.Name == Model.OwnerLogin || User.IsInRole("Admin"))
            {
                <div valign="top" align="right" class="control-label col-md-3">
                    <a href="@Url.Action($"Edit{Model.Type.ToString()}", "{Model.Type.ToString()}", new { id = Model.Id})">
                        <img src="~/Images/black-strong/Edit.png" width="40" title="Редактировать объявление @Model.Id" />
                    </a>
                    <a href='@Url.Action("DeleteAnnouncement", "Announcement", new { id = Model.Id, login = Model.OwnerLogin})' onclick="return confirm('Вы уверены что желаете удалить объявление @Model.Id ?')">
                        <img src="~/Images/black-strong/Delete.png" width="40" title="Удалить объявление @Model.Id" />
                    </a>
                    @if (User.IsInRole("Admin"))
                    {
                        if (Model.IsBlocked)
                        {
                            <a href='@Url.Action("BlockAnnouncement", "Announcement", new { id = Model.Id, block = false})' onclick="return confirm('Вы уверены что желаете разблокировать объявление @Model.Id ?')">
                                <img src="~/Images/black-strong/Ok.png" width="40" title="Разблокировать объявление @Model.Id" />
                            </a>
                        }
                        else
                        {
                            <a href='@Url.Action("BlockAnnouncement", "Announcement", new { id = Model.Id, block = true})' onclick="return confirm('Вы уверены что желаете заблокировать объявление @Model.Id ?')">
                                <img src="~/Images/black-strong/Cancel.png" width="40" title="Заблокировать объявление @Model.Id" />
                            </a>
                        }
                    }
                </div>
            }

        </div>
    </div>
</div>



