<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    @Scripts.Render("~/scripts/jquery-3.4.1.min.js")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Пользователи", "AdminSearch", "Admin")</li>
                        <li>@Html.ActionLink("Резюме", "EmployeeSearch", "Employee")</li>
                        <li>@Html.ActionLink("Вакансии", "JobseekerSearch", "Jobseeker")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Поиск", "UserSearch", "Home")</li>
                    }
                    <li>@Html.ActionLink("О программе", "About", "Home")</li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li> <a href="@Url.Action("Userdata", "Home", new {id = Guid.Empty })"><strong>@User.Identity.Name</strong></a> </li>
                        <li> <a href="@Url.Action("LogOut", "Account")">Выход</a> </li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li> <a href="@Url.Action("Authorization", "Account")">Вход</a> </li>
                    </ul>
                }
            </div>
        </div>
    </div>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Web aplication by Shevnin </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>